*{
    margin: 0;
    padding: 0;
}
/* header styling */
/* .header{
    margin-bottom: 20px;
} */
.main-title{
    font-size: 1.5em;
    text-transform: capitalize;
}
/* nav */
.nav-sections{
    justify-content: center;
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    margin-top: 20px;
}
a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2em;
    font-weight: 600;
    color: antiquewhite;
}
a:hover{
    color: rgb(219, 161, 86);
}

/* main body styling start */
.file-container{
    margin: 10px ;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
h2{
    font-size: .9em;
    /* color: beige; */
    border-radius: 10px;
    padding: 10px;
    margin: 0px 150px 20px;
    background-color: #350d05;
}
.files{
    /* justify-content: space-between; */
    margin: 20px 5px;
    padding: 20px;
    border: 2px solid #350d05;
    border-radius: 20px;
    background-color: #bd847852;
}
.audio-container,.video-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 20px;
    background-color: #350d054f;
    border-radius: 20px;
    border:2px solid #350d05;
}
audio{
    width: 100%;
}
/* .video-container{

} */
video{  
    height: 180px;
    width: 300px;
}
/* footer styling */
.footer,.header{
    background-color: #350d05;
    text-align: center;
    padding: 20px;
}
.footer-desc,.main-title{
    color: blanchedalmond;
}
.author-desc{
    text-shadow: 1px 0px beige;
}
.footer-date{
    font-size: 1.4em;
}

/* responsive small */
@media screen and (max-width:576px){
    .file-container{
        margin: 0px;
        flex-direction: column-reverse;
    }
    h2{
        margin: 20px 0px;
    }
    .audio-container{
        gap: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .video-container{
        justify-content: center;
        align-items: center;
        gap: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    video{
        height: auto;
        width: 100%;
    }


}

/* responsive medium */
@media screen and (max-width:900px) and (min-width:576px){
    h2{
        margin: 20px 0px;
    }
    .audio-container{
        grid-template-columns: repeat(2,1fr);
    }
    .video-container{
        grid-template-columns: repeat(2,1fr);
    }
    video{
        height: auto;
        width: 100%;
    }
}